@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}
.conteiner-finalizar {
    max-width: 600px;
    width: 100%;
}
.form {
    padding: 1.875rem 2.5rem;
    border-radius: 0.625rem;
    width: 100%;
    box-shadow: 4px 7px 6px 0px rgba(150, 150, 150, 0.22);
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 0.625rem;
    position: relative;
}
.form-control label {
    font-size: 1.0625rem;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px ;
}
.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 1.125rem;
    width: 95%;
    padding: 0.9375rem 0.8125rem;
}
.form-control img {
    position: absolute;
    top: 44px;
    right: 10px;
    visibility: hidden;
}
.form-control span {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form button {
   background-color: blueviolet;
    color: white;
    display: block;
    font-weight: 700;
    padding: 0.875rem 1rem;
    width: 100%;
    font-size: 1.125rem;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}
.form-control.success input {
    border: 2px solid #2ecc71;
}
.form-control.error input {
    border: 2px solid  #e74c3c;
    animation: invalid 0.3s 2;
}
.form-control.success img.validation {
    visibility: visible;
}
.form-control.error img.erro {
    visibility: visible;
}
.form-control.error span {
    font-weight: bold;
    margin-top: 4px;
    color: #e74c3c;
    display: block;
    animation: invalid 0.3s 2;
}  
span {
    display: none;
}
@keyframes invalid {
    25% {
        translate: 6px;
    }
    50% {
        translate: -6px 0; 
    }
    75% {
        translate: 6px 0; 
    }
}
@media (max-width:468px) {
    .form {
        overflow: hidden;
    }
    .form-control input {
        padding: 10px;
        font-size: 14px;
    }
    .conteiner-finalizar {
        overflow: hidden;
    }
}